@import url("https://use.typekit.net/lvn4wdp.css");
@font-face {
  font-family: "Lyon Text";
  src: url("/assets/fonts/LyonText-Regular.woff2") format("woff2"),
    url("/assets/fonts/LyonText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lyon Text";
  src: url("/assets/fonts/LyonText-RegularItalic.woff2") format("woff2"),
    url("/assets/fonts/LyonText-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply antialiased font-serif;
}

body {
  @apply min-h-screen flex flex-col;
}

main {
  @apply flex-1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.prose h1,
.prose h2 {
  @apply text-base mb-4;
}
.prose p {
  @apply mb-4;
}

.prose img {
  @apply mb-4;
}
