---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import portrait from "../assets/portrait.jpg";
import { Image } from "astro:assets";
const url = Astro.url.pathname;
import SharedScripts from "../components/SharedScripts.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="flex flex-col md:flex-row">
      <div class="bg-yellow-light md:max-w-lg">
        <div class="sticky top-0 md:h-screen px-8 py-8">
          <div class="flex flex-col h-full">
            <header class="flex justify-between items-center mb-8">
              <a href="/">
                <h1>Kerim Hudson</h1>
              </a>
              <nav>
                <ul class="flex text-sm gap-2 items-center">
                  <li>
                    <a
                      href="/"
                      class={"px-2 py-1.5 leading-none inline-block bg-white rounded-full hover:bg-opacity-75"}
                      >Work</a
                    >
                  </li>

                  <li>
                    <a
                      href="/contact"
                      class={"px-2 py-1.5 leading-none inline-block"}>Contact</a
                    >
                  </li>
                </ul>
              </nav>
            </header>
            <div class="max-w-xl mb-8">
              <div class="">
                <p class="mb-4">
                  A London-based designer and full-stack web developer, with a
                  keen interest in digital sustainability and ethics, and the
                  use of design and technology in social innovation.
                </p>
                <p class="mb-4">
                  I enjoy working on projects with a social or environmental
                  mission, and ensuring these values are met in the
                  technological and design decisions made.
                </p>
                <p class="mb-4">
                  I am currently open to freelance and full-time opportunities.
                </p>
              </div>
              <div class="flex flex-col gap-4">
                <div class="flex flex-col gap-1">
                  <h3 class="italic text-sm">Email</h3>
                  <a
                    class="opacity-50 hover:opacity-100"
                    href="mailto:m@kerimhudson.com">m@kerimhudson.com</a
                  >
                </div>
                <div class="flex flex-col gap-1">
                  <h3 class="italic text-sm">Social</h3>
                  <a
                    class="opacity-50 hover:opacity-100"
                    target="_blank"
                    href="https://read.cv/kerimhudson">Read.cv</a
                  >

                  <a
                    class="opacity-50 hover:opacity-100"
                    target="_blank"
                    href="https://www.are.na/kerim-hudson-megqzaj0yum/channels"
                    >Are.na</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex-1 flex items-center justify-center">
        <Image src={portrait} alt="Kerim Hudson Portrait" class="max-w-lg" />
      </div>
    </main>
    <SharedScripts />
  </body>
</html>
