---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import { getCollection } from "astro:content";
import Sidebar from "../components/Sidebar.astro";
import ProjectSlide from "../components/projects/ProjectSlide";
const projects = await getCollection("projects");
import SharedScripts from "../components/SharedScripts.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main class="flex flex-col md:flex-row">
      <Sidebar projects={projects} />

      <div class="hidden md:block md:flex-1">
        <ProjectSlide projects={projects} client:load />
      </div>
    </main>
    <SharedScripts />
  </body>
</html>
