---
import { SITE_TITLE } from "../consts";
---

<footer class="px-4 pt-4 py-4 container mx-auto">
  <p class="text-xs max-w-lg italic">
    Currently open to freelance and full-time opportunities.
  </p>
</footer>
