---
import { SITE_TITLE } from "../consts";
---

<header class="px-4 pt-4 pb-16 text-sm container mx-auto">
  <div class="w-full flex items-start justify-between">
    <a href="/">
      <h1 class="mb-4 text-sm">{SITE_TITLE}</h1>
    </a>
    <nav class="flex gap-1">
      <a href="/writing">Writing</a>
      <a href="/writing">CV</a>
      <a href="/writing">Contact</a>
    </nav>
  </div>
  <div>
    <p class="text-sm max-w-lg">
      A London-based designer and full-stack web developer, exploring the role
      of technology and design in sustainability, digital ethics, and social
      innovation.
    </p>
  </div>
</header>
